<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>theBeet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60E978691BF28A3E001BB7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E9787D1BF28A3E001BB7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E978911BF28AAB001BB7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E9789A1BF28AAB001BB7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E978B41BF28ACE001BB7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E978BD1BF28ACE001BB7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E978D61BF28ADA001BB7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E978DF1BF28ADB001BB7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
